<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.youchangxu.mapper.system.StaffingEmpMapper">
    <select id="findRoles" resultType="top.youchangxu.model.system.StaffingRole">
        SELECT sr.*
        FROM staffing_role sr LEFT JOIN staffing_role_emp sre ON sre.roleId = sr.roleId
        WHERE sre.empId = #{empId} AND sr.enterpriseId = #{enterpriseId}
    </select>

    <select id="findPermissions" resultType="top.youchangxu.model.system.StaffingPermission">
        SELECT DISTINCT sp.*
        FROM staffing_permission sp LEFT JOIN staffing_role_permission srp ON srp.permissionId = sp.permissionId
        WHERE srp.roleId IN (
            SELECT sr.roleId
            FROM staffing_role sr LEFT JOIN staffing_role_emp sre ON sre.roleId = sr.roleId
            WHERE sre.empId = #{empId} AND sr.enterpriseId = #{enterpriseId})
    </select>
    <select id="selectNoSetPostCount" resultType="java.lang.Integer">
        SELECT COUNT(empId)
        FROM
            staffing_enterprise_emp see
        WHERE
            see.empId NOT IN (
                SELECT spe.empId
                FROM
                    staffing_post_emp spe
                WHERE
                    spe.enterpriseId = #{enterpriseId}
            )
            AND see.enterpriseId = #{enterpriseId};
    </select>


    <select id="selectNoSetPostEmps" resultType="top.youchangxu.model.system.StaffingEmp">
        SELECT se.*
        FROM
            staffing_enterprise_emp see
            LEFT JOIN staffing_emp se ON se.empId = see.empId
        WHERE
            see.empId NOT IN (
                SELECT spe.empId
                FROM
                    staffing_post_emp spe
                WHERE
                    spe.enterpriseId = #{enterpriseId}
            )
            AND see.enterpriseId = #{enterpriseId};
    </select>

</mapper>